<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          <div class="header_container">
            <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
            <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
          </div>
          <nav id="header_nav">
            {% if site.github.is_project_page %}
              <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
            {% endif %}

            {% if site.show_downloads %}
              <div id="downloads">
                <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
                <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
              </div>
            {% endif %}
          </nav>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <nav id="main_nav">
        <div>
        </div>
      </nav>

      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    <script>
      //Code to automatically create the side nav based on content
      //note that this code works for only h1, h2, and h3 tags specified in content and other low level heading tags are not considered.
      // let h1 = document.getElementsByTagName("h1");
      // let h2 = document.getElementsByTagName("h2");
      // let h3 = document.getElementsByTagName("h3");

      let domElements = document.getElementsByTagName("*");
      let headings = [];

      let count = [0, 0];//serves so the real title headings (the first h1 and h2) of the code are not considered
      for (let element of domElements) {
        if (["H1", "H2", "H3"].indexOf(element.tagName) != -1) {
          if (count[0] === 0 && element.tagName === "H1") {
            count[0] = 1;
            continue;
          } else if (count[1] === 0 && element.tagName === "H2") {
            count[1] = 1;
            continue;
          } else {
            headings.push(element);
          }
        }
      }

      // function objectToArray(object) {
      //   let array = [];
      //   let i = 0;
      //   while(object[i] != undefined) {
      //     array.push(object[i]);
      //     i++
      //   }
      //   return array;
      // }

      function addElement(heading) {
        let nav = document.getElementById("main_nav").firstElementChild;
        let anchor = document.createElement("a");
        anchor.textContent = heading.textContent;
        if (heading.tagName == "H1") {
          anchor.setAttribute("class", "main_nav_h1");
        }
        let anchorText = heading.textContent.split(" ").join("_").toLowerCase();
        heading.setAttribute("id", `${anchorText}`);
        anchor.setAttribute("href", `#${anchorText}`)
        nav.append(anchor);
      }

      headings.forEach(heading => addElement(heading));
    </script>
  </body>
</html>
